In [5]:
#calculating the mean of a list of numbers (19,21,16,15,17,20,18)
numbers = [19,21,16,15,17,20,18]
def dataset_mean(numbers):
    return sum(numbers) / len(numbers)
mean_value = dataset_mean(numbers)
print("Mean of the dataset:", mean_value)

Mean of the dataset: 18.0

In [9]:
#median of a list of numbers
numbers = [22,56,11,14,-17,6,80]
def dataset_median(numbers):
    sorted_numbers = sorted(numbers)
    n = len(sorted_numbers)
    mid = n // 2
    if n % 2 == 0:
        # Even number of elements: average the two middle values
        return (sorted_numbers[mid - 1] + sorted_numbers[mid]) / 2  
    else:
        # Odd number of elements: return the middle value
        return sorted_numbers[mid]
median_value = dataset_median(numbers)
print("Median of the dataset:", median_value)

Median of the dataset: 14

In [10]:
x = [7, 8, 9]
print(type(x[:1]))

<class 'list'>

In [11]:
x, y, z = "7", "8", "9"
print(type(int(x)))

<class 'int'>

In [12]:
x, y, z = 7, 8, 9
print(type(str(x)))

<class 'str'>

In [13]:
x, y, z = 7, 8, 9
print(type((x)))

<class 'int'>

In [14]:
x = "789"
print(type(x[2]))

<class 'str'>

In [15]:
x = {"first": 7, "second": 8, "third": 9}
print(type(x.values()))

<class 'dict_values'>

In [17]:
time = 8000
if time < 1200:
    print("Good morning")
else:
    print("Hello")

Hello

In [20]:
x = 3
while (x < 10):
    x += 2
x

11

In [22]:
def one():
    print("one")

def two():
    return "two"

def three():
    one()
    two()
    print("three")

three()

one
three