### Git

In [ ]:
"""
Our main agenda is to upload/push to gitHub

Steps before pushing to gitHub:
- make sure Git is initialised   = git init
- Stage our files changes = git add <>file_name or git add . (for all files)
- Taking a snapshot of the staged changes (with a Label) = git commit -m "message"

- Uploading to Github = git push origin <name_of_branch> (usually main or master)

"""

"git add remote origin <url_of_your_repo>"

### Python File I/O
Python's bulit in ways to opening/loading files. (Input and Output.)

**Open()** is the dedicated function in python to load files.

Syntax:

open(filename, mode)

**Mode**
* 'r' --> read only
* 'w' --> write only (If file exixt its overwritten, else if not existing , it creates a new file.)
* 'r+' --> read and write
* 'a' --> append only (going to write new data at the end of the file without erasing existing.)

In [27]:
import pandas as pd
import numpy as np

pd.read_csv("./sample.csv").head()

   Amsterdam  Berlin  Cairo  Durban  Eldoret
0        100     266    345     465      459
1        154     257    633     476      545
2        189     259    371     413      524

In [5]:
x = open('sample.csv', 'r')
x.read()

'A,B,C,D,E\n1,2,3,4,5\n1,2,3,4,5\n1,2,3,4,5'

In [6]:
x.close()

## 'with'

This automatically opens and closes the file when using the open() function.

In [24]:
with open('sample.csv', 'r')as f:
    print(f.read())

Amsterdam,Berlin,Cairo,Durban,Eldoret
100,266,345,465,459
154,257,633,476,545
189,259,371,413,524

In [18]:
import csv

with open('sample.csv') as f:
    reader = csv.DictReader(f)
    #
    for row in reader:
        print(row['Amsterdam'], row['Berlin'])

100 266
154 257
189 259

In [19]:
type(df)

pandas.core.frame.DataFrame

## Create a new file and write to it

In [22]:
with open('cities.txt', 'w') as f:
    f.write('Amsterdam | Berlin | Cairo')

In [23]:
with open('cities.txt', 'w') as f:
    f.write('Dallas | London | Cairo')

In [25]:
from sklearn import datasets

## JSON

This is Javascript Object Notation

In [4]:
import json

# with open to load json file
with open('playlist.json', 'r') as f:
    data = json.load(f)

    print(data['playlist_name'])
data['playlist_name']

My_Jams

'My_Jams'

In [6]:
type(data['tracks'])

list

In [13]:
# not recommended because everything will be read as string
with open('playlist.json', 'r') as f:
    dt = f.read()
type(dt)

str

## Exploring JSON
Now that we have loaded it, lets check what is held within it.

In [14]:
data.keys()

dict_keys(['playlist_name', 'created_by', 'tracks'])

In [15]:
data.items()

dict_items([('playlist_name', 'My_Jams'), ('created_by', 'Chacha'), ('tracks', [{'title': 'Stan', 'artist': 'Eminem', 'album': 'The Marshall Mathers LP', 'duration_sec': 405}, {'title': 'In Da Club', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 240}, {'title': 'Suzanna', 'artist': 'Sauti Sol', 'album': 'Midnight Train', 'duration_sec': 239}, {'title': 'Many Men', 'artist': '50 Cent', 'album': 'Get Rich or Die Tryin', 'duration_sec': 256}, {'title': 'Bad Liar', 'artist': 'Imagine Dragons', 'album': 'Origins', 'duration_sec': 243}])])

In [17]:
## Syntax fron accessing the 3rd song in the playlist
data['tracks'][2]

{'title': 'Suzanna',
 'artist': 'Sauti Sol',
 'album': 'Midnight Train',
 'duration_sec': 239}

In [19]:
## syntax for accessing the album name of the last song in the playlist
data['tracks'][-1]['album']

'Origins'

## Transforming JSON Schema
Here we want to transform JSON into a flatter structure, which we can use for analysis

In [ ]:
"""
Load the JSON file.
iterate over the the tracks and create a new lsit from the data points.
 which in our case are [ 'title', 'artist', 'album', 'duration_sec' ]

"""

In [22]:
# using pandas to make it a CSV file
import pandas as pd

with open('playlist.json', 'r') as f:
    playlist = json.load(f)

df = pd.DataFrame(playlist['tracks'])

df.to_csv('track.csv', index=False)

df.head()

        title           artist                    album  duration_sec
0        Stan           Eminem  The Marshall Mathers LP           405
1  In Da Club          50 Cent    Get Rich or Die Tryin           240
2     Suzanna        Sauti Sol           Midnight Train           239
3    Many Men          50 Cent    Get Rich or Die Tryin           256
4    Bad Liar  Imagine Dragons                  Origins           243